.appHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
}
@media (max-width: 480px) {
  .appHeader {
    padding-left: var(--ax-space-8);
    padding-right: var(--ax-space-8);
  }
}

.container {
  max-width: 600px;
  width: 100%;
  margin: 40px 0px;
}
