.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  padding-block: var(--a-spacing-4);
}

.listItem:not(:last-child) {
  border-bottom: 1px solid var(--a-border-subtle);
}

.listItem:last-child {
  padding-block-end: 0;
}
