.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  padding-block: var(--a-spacing-4);
}

.listItem:not(:last-child) {
  border-bottom: 1px solid var(--a-border-subtle);
}

@media screen and (min-width: 480px) {
  .linkPanel {
    padding-inline: var(--a-spacing-6);
  }
}

.detail {
  color: var(--a-text-subtle);
}
