.main {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  margin-bottom: 4rem;
}
.manglendeVedlegg > ul {
  margin: 0;
}

.buttonRow {
  display: flex;
  width: 100%;
  justify-content: center;
}

.buttonContainer {
  width: 100%;
  max-width: 600px;

  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.annetTekst {
  margin-top: var(--a-spacing-4);
}
