.card {
  width: 100%;
  max-width: 600px;
  background-color: var(--ax-bg-default);
  /*border: 1px solid var(--ax-border-neutral-subtle);*/
  border-radius: 12px;
  padding: var(--ax-space-16);
}

.subtleBlue {
  background-color: var(--ax-bg-accent-soft);
}

.divider {
  height: 0px;
  width: calc(100% + var(--ax-space-32));
  border-top: 1px solid var(--ax-border-neutral-subtle);
  margin-block: var(--ax-space-16);
  margin-inline: calc(var(--ax-space-16) * -1);
}

@media screen and (min-width: 480px) {
  .card {
    padding: var(--ax-space-24);
  }

  .divider {
    width: calc(100% + var(--ax-space-48));
    margin-inline: calc(var(--ax-space-24) * -1);
  }
}
