.pageHeaderWrapper {
  padding: 0 2rem;
}
@media (max-width: 480px) {
  .pageHeaderWrapper {
    padding-left: var(--a-spacing-2);
    padding-right: var(--a-spacing-2);
  }
}
.navdsPageHeader {
  display: flex;
  justify-content: center;
  background-color: var(--a-surface-default);
  padding: 1.5rem calc((100vw - 100%) / 2);
  margin-left: calc((100vw - 100%) / -2);
  margin-right: calc((100vw - 100%) / -2);
}

.navdsPageHeaderWrapper {
  width: 100%;
  max-width: 56.5rem;
  text-align: left;
}

.navdsPageHeaderTitle {
  display: flex;
  margin: 0 auto;
  width: 100%;
  position: relative;
  flex-direction: column;
}

.navdsPageHeaderCenter > .navdsPageHeaderWrapper {
  text-align: center;
}

.navdsPageHeaderGuide {
  box-shadow: 0 -4px 0 var(--a-deepblue-400) inset;
}

@media (max-width: 649px) {
  .navdsPageHeaderTitle {
    font-size: var(--a-font-size-heading-xlarge);
  }
}
