.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.dropzone {
  padding: 30px;
  border: 2px dashed var(--ax-bg-accent-strong);
  background-color: var(--ax-bg-accent-soft);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dragover {
  opacity: 0.5;
}
.fileCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.fileCard.error {
  border: 2px solid var(--ax-bg-danger-strong-hover);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.fileCardLeftContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
}
.deleteAttachment {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  color: var(--ax-text-accent-decoration);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.deleteAttachment:hover {
  border: 2px solid var(--ax-text-accent-decoration);
}
.deleteAttachment:focus {
  border: 2px solid var(--ax-text-accent-decoration);
}
.fileSuccess {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  background-color: var(--ax-bg-success-soft);
}
.fileError {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  background-color: var(--ax-bg-danger-soft);
}
.fileInput {
  padding: 2rem;
  background-color: var(--ax-bg-neutral-soft);
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.fileInputButton:focus {
  outline: none;
  color: var(--ax-text-accent-contrast);
  text-decoration: none;
  background-color: var(--ax-border-focus);
  box-shadow: 0 0 0 2px var(--ax-border-focus);
}
.fileInputText {
  word-break: break-all;
}
