.fileinputWrapper {
  background-color: var(--ax-bg-neutral-soft);
}

.sendButton {
  margin-left: var(--ax-space-32);
  margin-bottom: var(--ax-space-16);
}

.successWrapper {
  display: flex;
  flex-direction: column;

  padding: var(--ax-space-32);
  gap: var(--ax-space-16);
}

.successWrapperAnnet {
  padding: 0 var(--ax-space-32) var(--ax-space-32) var(--ax-space-32);
}
