.flexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--a-spacing-4);
}

.content {
  max-width: 920px;
  width: 100%;
  margin-block-start: var(--a-spacing-6);
  margin-block-end: var(--a-spacing-8);
}

.subtleBackground {
  background-color: var(--a-bg-subtle);
}
