.visuallyHidden {
  composes: visuallyHidden from '../../styles/visibility.module.css';
}
.dropZone {
  padding: 30px;
  border: 2px dashed var(--navds-semantic-color-interaction-primary);
  background-color: var(--navds-semantic-color-interaction-primary-hover-subtle);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dragOver {
  opacity: 0.5;
}

.fileInputButton:focus {
  outline: none;
  color: var(--navds-link-color-text-focus);
  text-decoration: none;
  background-color: var(--navds-link-color-background-focus);
  box-shadow: 0 0 0 2px var(--navds-semantic-color-focus);
}
