.visuallyHidden {
  composes: visuallyHidden from '../../styles/visibility.module.css';
}
.dropZone {
  padding: 30px;
  border: 2px dashed var(--a-surface-action);
  background-color: var(--a-surface-action-subtle-hover);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dragOver {
  opacity: 0.5;
}

.fileInputButton:focus {
  outline: none;
  color: var(--a-text-on-action);
  text-decoration: none;
  background-color: var(--a-border-focus);
  box-shadow: 0 0 0 2px var(--a-border-focus);
}
