name: "Chainguard - nyeste image versjon"

on:
  workflow_dispatch:
  schedule:
    # At the end of every day
    - cron: "0 0 * * *"

jobs:
  digest-update:
    uses: navikt/aap-workflows/.github/workflows/digestabot.yaml@main
    secrets: inherit
    permissions:
      contents: write
      pull-requests: write
      id-token: write
